<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- css -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="./assets/css/animate.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
		<link rel="stylesheet" href="./assets/css/custom.css" />
		<!-- title -->
		<title>Lionel E.</title>
		<!-- favico -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favico/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favico/favicon-16x16.png">
		<link rel="manifest" href="assets/img/favico/site.webmanifest">
	</head>

	<body>
		<!-- APP -->
		<div id="app">
      
      <!-- navbar -->
      <vue-navbar class="">
        <vue-navbar-item 
          v-for="navitem in navitems" 
          v-bind:key="navitem.id" 
          v-bind:navitem="navitem"
        ></vue-navbar-item>
      </vue-navbar>

      <!-- about me -->
      <vue-section id="quisuisje" class="">
        <vue-feature></vue-feature>
      </vue-section>
      
      <!-- stack and tools -->
      <vue-section id="technologies" class="bg-grey" title="TECHNOLOGIES">
        <vue-stack>
          <vue-stack-category
            v-for="stack in stacks" 
            v-bind:key="stack.id"
            v-bind:stack="stack"
          ></vue-stack-category>
        </vue-stack>
      </vue-section>

      <!-- my works -->
      <vue-section id="realisations" class="" title="MES REALISATIONS">
        <vue-swiper-carousel>
          <vue-work 
            v-for="work in works" 
            v-bind:key="work.id" 
            v-bind:work="work"
          ></vue-work>
        </vue-swiper-carousel>
      </vue-section>

      <!-- testimonials -->
      <vue-section id="temoignages" class="testimonial" title="TEMOIGNAGES">
        <vue-carousel-testimonial>
          <vue-carousel-testimonial-item 
            v-for="testimonial in testimonials" 
            v-bind:key="testimonial.id" 
            v-bind:testimonial="testimonial"
          ></vue-carousel-testimonial-item>
        </vue-carousel-testimonial>
      </vue-section>

      <!-- contact -->
      <vue-section id="contact" class="" title="CONTACTE-MOI">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <vue-contact-item
            v-for="contactitem in contactitems" 
            v-bind:key="contactitem.id" 
            v-bind:contactitem="contactitem"
          ></vue-contact-item>
        </div>
      </vue-section>

      <!-- footer -->
      <vue-footer>
        <vue-contact-item
            v-for="contactitem in contactitems" 
            v-bind:key="contactitem.id" 
            v-bind:contactitem="contactitem"
        ></vue-contact-item>
        
        <vue-footer-item 
          v-for="footer in footeritems" 
          v-bind:key="footer.id" 
          v-bind:footer="footer"
        ></vue-footer-item>
      </vue-footer>
    </div>

    <canvas class="particles"></canvas>

		<!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/3d80db08d2.js" crossorigin="anonymous"></script>
		<!-- bootstrap parts-->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="./assets/js/bootstrap.bundle.min.js"></script>
		<!-- swiper carousel -->
		<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
		<!-- animation (animate) -->
		<script src="./assets/js/animations.js"></script>
		<!-- particles -->
    <!-- <script src="./assets/js/particles.js"></script> -->
		<!-- vue -->
		<script src="./assets/vue/vue.js"></script>
		<script type="module" src="./assets/js/main.js"></script>
		<!-- bootstrap carousel -->
		<script type="module" src="./assets/js/carousel.js"></script>

	</body>

</html>