<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- css -->
		<link rel="stylesheet" href="./assets/css/bootstrap.css" />
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,900,900i|Poppins:200,200i,300,300i,400,400i,600,600i,900,900i&display=swap" rel="stylesheet">
		<!-- custom css -->
		<link rel="stylesheet" href="./assets/css/custom.css" />
		<link rel="stylesheet" href="./assets/css/magic.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
		<!-- <link rel="stylesheet" href="./assets/motion-ui/css/motion-ui.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<!-- title -->
		<title>Lionel E.</title>
		<!-- favico -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favico/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favico/favicon-16x16.png">
		<link rel="manifest" href="assets/img/favico/site.webmanifest">
	</head>

	<body>
		<!-- APP -->
		<div id="app">
			<!-- navbar -->
			<component-navbar class="bg-raisin">
				<component-navbar-item 
					v-for="navitem in navitems" 
					v-bind:key="navitem.id" 
					v-bind:navitem="navitem"
				></component-navbar-item>
			</component-navbar>

			<component-section id="quisuisje" :class="[sectionDark]">
				<component-feature></component-feature>
			</component-section>

			<component-section id="technologies" :class="[sectionGrey]" title="Technologies">
				<component-stack>
					<component-stack-category
						v-for="stack in stacks" 
						v-bind:key="stack.id"
						v-bind:stack="stack"
					></component-stack-category>
				</component-stack>
			</component-section>

			<!-- <component-section id="parcours" :class="[sectionDark]" title="Mon parcours">
				<div class="row match-height">

					<div class="col-12 col-md-6">
						<h2>Formation</h1>
						<component-formation
							v-for="formation in formations" 
							v-bind:key="formation.id"
							v-bind:formation="formation"
						></component-formation>
					</div>

					<div class="col-12 col-md-6">
						<h2>Expérience</h2>
						<component-experience 
							v-for="experience in experiences" 
							v-bind:key="experience.id"
							v-bind:experience="experience"
						></component-experience>
					</div>

				</div>
			</component-section> -->

			<component-section id="realisations" :class="[sectionDark]" title="Mes réalisations">
				<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
					<component-work 
						v-for="work in works" 
						v-bind:key="work.id" 
						v-bind:work="work"
					></component-work>
				</div> -->
				<component-swiper-carousel>
					<component-work 
						v-for="work in works" 
						v-bind:key="work.id" 
						v-bind:work="work"
					></component-work>
				</component-swiper-carousel>
			</component-section>

			<!-- <component-section v-bind:class="[sectionDark]" title="Mes valeurs">
			</component-section> -->

			<component-section id="temoignages" :class="[sectionDark]" class="bg-testimonial" title="Témoignages">
				<component-carousel-testimonial>
					<component-carousel-testimonial-item 
						v-for="testimonial in testimonials" 
						v-bind:key="testimonial.id" 
						v-bind:testimonial="testimonial"
					></component-carousel-testimonial-item>
				</component-carousel-testimonial>
			</component-section>

			<!-- <component-section v-bind:class="[sectionDark]" title="Mes articles">
			</component-section> -->

			<component-section id="contact" :class="[sectionGrey]" title="Contacte-moi">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
					<component-contact-item
						v-for="contactitem in contactitems" 
						v-bind:key="contactitem.id" 
						v-bind:contactitem="contactitem"
					></component-contact-item>
				</div>
			</component-section>

			<!-- <component-section id="contact" :class="[sectionGrey]" title="Contacte-moi">
				<component-contact>
					<component-contact-item
						v-for="contactitem in contactitems" 
						v-bind:key="contactitem.id" 
						v-bind:contactitem="contactitem"
					></component-contact-item>
				</component-contact>
			</component-section> -->

			<component-footer>
					<component-contact-item
						v-for="contactitem in contactitems" 
						v-bind:key="contactitem.id" 
						v-bind:contactitem="contactitem"
					></component-contact-item>
				
				<component-footer-item 
					v-for="footer in footeritems" 
					v-bind:key="footer.id" 
					v-bind:footer="footer"
				></component-footer-item>
			</component-footer>

		</div>

		<!-- SCRIPTS -->

		<!-- vue -->
		<script src="./assets/vue/vue.js"></script>
		<script src="./assets/js/main.js"></script>
		<!-- bootstrap -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
		</script>
		<script src="./assets/js/bootstrap.bundle.min.js"></script>
		<!-- carousel -->
		<script src="./assets/js/carousel.js"></script>
		<!-- animation (magic) -->
		<script src="./assets/js/animations.js"></script>
		<!-- parallax -->

		<!-- swiper carousel -->
		<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
		<!-- <script>
			var swiper = new Swiper('.swiper-container', {
			  effect: 'coverflow',
			  grabCursor: true,
			  centeredSlides: true,
			  slidesPerView: 'auto',
			  coverflowEffect: {
				rotate: 50,
				stretch: 0,
				depth: 100,
				modifier: 1,
				slideShadows : true,
			  },
			  pagination: {
				el: '.swiper-pagination',
			  },
			});
		</script> -->

		<script>
			var swiper = new Swiper('.swiper-container', {
				effect: 'coverflow',
				loop: false,
				centeredSlides: true,
				slidesPerView: 3,
				initialSlide: 3,
				keyboardControl: true,
				mousewheelControl: true,
				lazyLoading: true,
				preventClicks: false,
				preventClicksPropagation: false,
				lazyLoadingInPrevNext: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',

				coverflow: {
					rotate: 0,
					stretch: 0,
					depth: 250,
					modifier: 1,
					slideShadows : false,
				}
			});
		</script>

	</body>

</html>