/* Coolors Exported Palette - coolors.co/202020-2d2d2d-383838-424242-4c4c4c */

/*COLORS AND BACKGROND*/
$raisin: #202020;
$charleston: #2D2D2D;
$onyx: #383838;
$arsenic: #424242;
$white: #FFFFFF;

/*FONT*/
$liver: #4C4C4C;
$fontwhite: #E8E8E8;

/* HSL */
$color1: hsla(0%, 0%, 13%, 1);
$color2: hsla(0%, 0%, 18%, 1);
$color3: hsla(0%, 0%, 22%, 1);
$color4: hsla(0%, 0%, 26%, 1);
$color5: hsla(0%, 0%, 30%, 1);

/* RGB */
$color1: rgba(32, 32, 32, 1);
$color2: rgba(45, 45, 45, 1);
$color3: rgba(56, 56, 56, 1);
$color4: rgba(66, 66, 66, 1);
$color5: rgba(76, 76, 76, 1);