body{
    font-family: Poppins;
    font-weight: 400;
    color: #fff;
}
h1{
    font-family: Montserrat;
    font-weight: 700;
}
a{
    color:inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

/*BACKGROND COLOR*/
.raisin{
    background-color: #202020;
} 
.charleston{
    background-color: #2D2D2D;
} 
.onyx{
    background-color: #383838;
}
.arsenic{
    background-color: #424242;
}
.white{
    background-color: #FFFFFF;
}
.arsenic-transparent{
    background-color: #42424258;
}

/* FONT COLOR */
.font-raisin{
    color: #202020;
} 
.font-charleston{
    color: #2D2D2D;
} 
.font-onyx{
    color: #383838;
}
.font-arsenic{
    color: #424242;
}
.font-spanish{
    color: #929C9C;
}
.font-white{
    color: #FFFFFF;
}
.font-arsenic-transparent{
    color: #42424258;
}

/* FONT WEIGHT */
.custom-date, .custom-url{
    font-weight: 200;
    font-size: 0.8em;
    font-style: italic;
}
.font-12{
    font-size: 1.2em;
}
.font-15{
    font-size: 1.5em;
}
.font-20{
    font-size: 2em;
}

/* HOVER IMAGE */
.containerHovered{
    position: relative;
}

.toHide {
    opacity: 1;
    transition: .5s ease;
    /* backface-visibility: hidden; */
  }
  
  .toDisplay {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .containerHovered:hover .toHide{
    opacity: 0.5;
  }
  
  .containerHovered:hover .toDisplay {
    opacity: 1;
  }

  .containerHovered:hover img{
    filter: brightness(50%);
  }
  .containerHovered:hover .card{
    background-color: rgba(0, 0, 0, 0.582);
    border: 0;
  }

/* carousel */
#myCarousel {
margin-left: 50px;
margin-right: 50px;
}

.carousel-control-prev {
margin-left: -0px;
}

.carousel-control-next {
margin-right: -0px;
}