@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Press+Start+2P&display=swap");
/*TAGS*/
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto Condensed";
  color: #FCFCE0;
  background: url("../img/wallpapers/main.gif") no-repeat center fixed;
  background-size: cover; }

footer {
  font-family: "Libre Barcode 128 Text"; }

h1 {
  font-family: "Press Start 2P";
  font-size: 2rem; }

a {
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

/*BACKGRONDS*/
.bg-dark {
  background-color: #202020 !important; }

.bg-grey {
  background-color: #2B2B2B; }

.border-main {
  border-color: #FC1B24; }

/* FONT COLOR */
.font-main {
  color: #FC1B24; }

.font-white {
  color: #FCFCE0; }

/* FONT WEIGHT */
.custom-date, .custom-url, .custom-tags {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: italic; }

.font-08 {
  font-size: 0.8rem; }

.font-12 {
  font-size: 1.2rem; }

.font-15 {
  font-size: 1.5rem; }

.font-20 {
  font-size: 2rem; }

.font-30 {
  font-size: 3rem; }

.font-40 {
  font-size: 4rem; }

.font-100 {
  font-size: 10rem; }

/* BUTTONS */
.btn-main {
  color: #FC1B24;
  border: 1px solid #FC1B24;
  background-color: transparent; }

.btn-main:hover {
  color: #202020;
  background-color: #FC1B24;
  border: 1px solid transparent; }

.btn-main-light {
  color: #FC1B24;
  border: 1px solid transparent;
  background-color: transparent; }

.btn-main-light:hover {
  color: #FC1B24; }

/*STACK CARD*/
.stack-card {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white; }

.stack-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #202020; }

.stack-card:hover i {
  color: #FC1B24; }

/* HOVER IMAGE */
.containerHovered {
  position: relative; }

.toHide {
  opacity: 1;
  transition: .5s ease; }

.toDisplay {
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.containerHovered:hover .toHide {
  opacity: 0.5; }

.containerHovered:hover .toDisplay {
  opacity: 1; }

.containerHovered:hover img {
  filter: brightness(50%); }

.containerHovered:hover .card {
  background-color: rgba(0, 0, 0, 0.582);
  border: 0; }

.start {
  height: 100vh;
  background-image: url("../img/wallpapers/space.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* carousel */
#myCarousel {
  margin-left: 50px;
  margin-right: 50px; }

.carousel-control-prev {
  margin-left: -0px; }

.carousel-control-next {
  margin-right: -0px; }

.swiper-container {
  height: 100%; }

/* contactitem */
.contactitem-card {
  background-color: transparent;
  color: #FCFCE0; }

.contactitem-card:hover {
  background-color: #2B2B2B; }

.contactitem-card i {
  color: #FCFCE0; }

.contactitem-card:hover i {
  color: #FC1B24; }

.testimonial {
  background-image: url("../img/wallpapers/wallpaper.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.testimonial a i:hover {
  background-color: #FCFCE0;
  color: #FC1B24; }

.testimonial img.rounded-circle {
  border: 4px solid; }

.testimonial-item-link {
  color: #FC1B24; }

.particles {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: -999; }

.swiper-button-next,
.swiper-button-prev {
  color: #FC1B24; }

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(27px, 9999px, 59px, 0);
    transform: skew(0.37deg); }
  5% {
    clip: rect(72px, 9999px, 35px, 0);
    transform: skew(0.57deg); }
  10% {
    clip: rect(91px, 9999px, 56px, 0);
    transform: skew(0.56deg); }
  15% {
    clip: rect(33px, 9999px, 90px, 0);
    transform: skew(0.62deg); }
  20% {
    clip: rect(22px, 9999px, 78px, 0);
    transform: skew(0.93deg); }
  25% {
    clip: rect(86px, 9999px, 99px, 0);
    transform: skew(0.16deg); }
  30% {
    clip: rect(57px, 9999px, 42px, 0);
    transform: skew(0.09deg); }
  35% {
    clip: rect(1px, 9999px, 71px, 0);
    transform: skew(0.5deg); }
  40% {
    clip: rect(29px, 9999px, 78px, 0);
    transform: skew(0.79deg); }
  45% {
    clip: rect(19px, 9999px, 66px, 0);
    transform: skew(0.93deg); }
  50% {
    clip: rect(42px, 9999px, 6px, 0);
    transform: skew(0.65deg); }
  55% {
    clip: rect(87px, 9999px, 57px, 0);
    transform: skew(0.94deg); }
  60% {
    clip: rect(91px, 9999px, 8px, 0);
    transform: skew(0.79deg); }
  65% {
    clip: rect(30px, 9999px, 36px, 0);
    transform: skew(0.99deg); }
  70% {
    clip: rect(99px, 9999px, 40px, 0);
    transform: skew(0.19deg); }
  75% {
    clip: rect(52px, 9999px, 63px, 0);
    transform: skew(0.14deg); }
  80% {
    clip: rect(45px, 9999px, 97px, 0);
    transform: skew(0.3deg); }
  85% {
    clip: rect(49px, 9999px, 60px, 0);
    transform: skew(0.65deg); }
  90% {
    clip: rect(82px, 9999px, 76px, 0);
    transform: skew(0.95deg); }
  95% {
    clip: rect(26px, 9999px, 3px, 0);
    transform: skew(0.04deg); }
  100% {
    clip: rect(55px, 9999px, 41px, 0);
    transform: skew(0.9deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(8px, 9999px, 25px, 0);
    transform: skew(0.71deg); }
  5% {
    clip: rect(87px, 9999px, 2px, 0);
    transform: skew(0.79deg); }
  10% {
    clip: rect(69px, 9999px, 71px, 0);
    transform: skew(0.35deg); }
  15% {
    clip: rect(16px, 9999px, 84px, 0);
    transform: skew(0.27deg); }
  20% {
    clip: rect(35px, 9999px, 56px, 0);
    transform: skew(0.15deg); }
  25% {
    clip: rect(85px, 9999px, 90px, 0);
    transform: skew(0.62deg); }
  30% {
    clip: rect(38px, 9999px, 84px, 0);
    transform: skew(0.6deg); }
  35% {
    clip: rect(90px, 9999px, 41px, 0);
    transform: skew(0.21deg); }
  40% {
    clip: rect(62px, 9999px, 31px, 0);
    transform: skew(0.73deg); }
  45% {
    clip: rect(17px, 9999px, 69px, 0);
    transform: skew(0.3deg); }
  50% {
    clip: rect(86px, 9999px, 6px, 0);
    transform: skew(0.89deg); }
  55% {
    clip: rect(81px, 9999px, 47px, 0);
    transform: skew(0.32deg); }
  60% {
    clip: rect(13px, 9999px, 76px, 0);
    transform: skew(0.55deg); }
  65% {
    clip: rect(94px, 9999px, 26px, 0);
    transform: skew(0.26deg); }
  70% {
    clip: rect(99px, 9999px, 56px, 0);
    transform: skew(0.78deg); }
  75% {
    clip: rect(27px, 9999px, 94px, 0);
    transform: skew(0.14deg); }
  80% {
    clip: rect(53px, 9999px, 96px, 0);
    transform: skew(0.88deg); }
  85% {
    clip: rect(38px, 9999px, 65px, 0);
    transform: skew(0.05deg); }
  90% {
    clip: rect(55px, 9999px, 55px, 0);
    transform: skew(0.17deg); }
  95% {
    clip: rect(32px, 9999px, 84px, 0);
    transform: skew(0.25deg); }
  100% {
    clip: rect(87px, 9999px, 97px, 0);
    transform: skew(0.14deg); } }

@keyframes glitch-skew {
  0% {
    transform: skew(2deg); }
  10% {
    transform: skew(-2deg); }
  20% {
    transform: skew(-2deg); }
  30% {
    transform: skew(2deg); }
  40% {
    transform: skew(-3deg); }
  50% {
    transform: skew(2deg); }
  60% {
    transform: skew(5deg); }
  70% {
    transform: skew(-2deg); }
  80% {
    transform: skew(-3deg); }
  90% {
    transform: skew(-4deg); }
  100% {
    transform: skew(1deg); } }
