@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html {
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto Condensed";
  color: #FFFFFF;
  background-color: #202020;
  font-size: 1.2rem;
}

h1 {
  font-family: "Roboto Condensed";
  font-size: 2rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

a:not([href]):hover {
  color: #202020;
}

.font-logo {
  font-family: "Roboto Condensed";
  font-size: 2rem;
  font-weight: bold;
}

.bg-grey {
  background-color: #2B2B2B;
}

.bg-dark {
  background-color: #202020 !important;
}

.bg-main {
  background-color: #6fffe9;
}

.font-main {
  color: #6fffe9;
}

.font-white {
  color: #FFFFFF;
}

.custom-date, .custom-url, .custom-tags {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: italic;
}

.font-08 {
  font-size: 0.8rem;
}

.font-15 {
  font-size: 1.5rem;
}

.font-20 {
  font-size: 2rem;
}

.font-30 {
  font-size: 3rem;
}

.font-40 {
  font-size: 4rem;
}

*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-main {
  color: #6fffe9;
  border: 1px solid #6fffe9;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn-main:hover {
  color: #202020;
  font-weight: bold;
  background-color: #6fffe9;
  border: 1px solid transparent;
}

.btn-main-light {
  color: #6fffe9;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn-main-light:hover {
  color: #202020;
  font-weight: bold;
  background-color: #6fffe9;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFFFFF;
  font-size: 1em;
  border-bottom: 2px solid #6fffe9;
}

.stack-card {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  -webkit-transition: background-color 1s, -webkit-box-shadow 2s;
  transition: background-color 1s, -webkit-box-shadow 2s;
  transition: background-color 1s, box-shadow 2s;
  transition: background-color 1s, box-shadow 2s, -webkit-box-shadow 2s;
}

.stack-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #202020;
}

.stack-card:hover i {
  color: #6fffe9;
}

.workCard h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Roboto Condensed";
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.workCard a {
  color: #6fffe9;
}

.workCard :hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#myCarousel {
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -0px;
}

.testimonial {
  background-image: url("../../assets/img/main.gif");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial a i:hover {
  background-color: #FFFFFF;
  color: #6fffe9;
}

.testimonial img.rounded-circle {
  border: 4px solid;
}

.testimonial-item-link {
  color: #6fffe9;
}

/* C_O_N_T_A_C_T  I_T_E_M */
.contactitem-card {
  background-color: transparent;
  -webkit-transition: color 2s;
  transition: color 2s;
}

.contactitem-card:hover {
  background-color: #202020;
}

.contactitem-card i {
  -webkit-transition: color 1s;
  transition: color 1s;
}

.contactitem-card:hover i {
  color: #6fffe9;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(62px, 9999px, 98px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  5% {
    clip: rect(91px, 9999px, 12px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  10% {
    clip: rect(61px, 9999px, 31px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  15% {
    clip: rect(1px, 9999px, 9px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  20% {
    clip: rect(2px, 9999px, 57px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  25% {
    clip: rect(55px, 9999px, 41px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  30% {
    clip: rect(94px, 9999px, 94px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  35% {
    clip: rect(84px, 9999px, 94px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  40% {
    clip: rect(62px, 9999px, 43px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  45% {
    clip: rect(60px, 9999px, 95px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  50% {
    clip: rect(88px, 9999px, 70px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  55% {
    clip: rect(49px, 9999px, 99px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  60% {
    clip: rect(47px, 9999px, 49px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  65% {
    clip: rect(55px, 9999px, 13px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  70% {
    clip: rect(29px, 9999px, 46px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  75% {
    clip: rect(60px, 9999px, 75px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(54px, 9999px, 79px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  85% {
    clip: rect(89px, 9999px, 71px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  90% {
    clip: rect(6px, 9999px, 36px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  95% {
    clip: rect(80px, 9999px, 58px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  100% {
    clip: rect(56px, 9999px, 7px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(62px, 9999px, 98px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  5% {
    clip: rect(91px, 9999px, 12px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  10% {
    clip: rect(61px, 9999px, 31px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  15% {
    clip: rect(1px, 9999px, 9px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  20% {
    clip: rect(2px, 9999px, 57px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  25% {
    clip: rect(55px, 9999px, 41px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  30% {
    clip: rect(94px, 9999px, 94px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  35% {
    clip: rect(84px, 9999px, 94px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  40% {
    clip: rect(62px, 9999px, 43px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  45% {
    clip: rect(60px, 9999px, 95px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  50% {
    clip: rect(88px, 9999px, 70px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  55% {
    clip: rect(49px, 9999px, 99px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  60% {
    clip: rect(47px, 9999px, 49px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  65% {
    clip: rect(55px, 9999px, 13px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  70% {
    clip: rect(29px, 9999px, 46px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  75% {
    clip: rect(60px, 9999px, 75px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(54px, 9999px, 79px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  85% {
    clip: rect(89px, 9999px, 71px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  90% {
    clip: rect(6px, 9999px, 36px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  95% {
    clip: rect(80px, 9999px, 58px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  100% {
    clip: rect(56px, 9999px, 7px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(84px, 9999px, 11px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  5% {
    clip: rect(50px, 9999px, 52px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  10% {
    clip: rect(14px, 9999px, 73px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  15% {
    clip: rect(62px, 9999px, 87px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  20% {
    clip: rect(79px, 9999px, 64px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  25% {
    clip: rect(32px, 9999px, 40px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  30% {
    clip: rect(68px, 9999px, 93px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  35% {
    clip: rect(26px, 9999px, 75px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  40% {
    clip: rect(87px, 9999px, 28px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  45% {
    clip: rect(23px, 9999px, 16px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  50% {
    clip: rect(46px, 9999px, 24px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  55% {
    clip: rect(6px, 9999px, 18px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(94px, 9999px, 63px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  65% {
    clip: rect(18px, 9999px, 75px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  70% {
    clip: rect(11px, 9999px, 45px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  75% {
    clip: rect(4px, 9999px, 91px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  80% {
    clip: rect(92px, 9999px, 82px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  85% {
    clip: rect(87px, 9999px, 93px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  90% {
    clip: rect(73px, 9999px, 8px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  95% {
    clip: rect(73px, 9999px, 45px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  100% {
    clip: rect(62px, 9999px, 8px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(84px, 9999px, 11px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  5% {
    clip: rect(50px, 9999px, 52px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  10% {
    clip: rect(14px, 9999px, 73px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  15% {
    clip: rect(62px, 9999px, 87px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  20% {
    clip: rect(79px, 9999px, 64px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  25% {
    clip: rect(32px, 9999px, 40px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  30% {
    clip: rect(68px, 9999px, 93px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  35% {
    clip: rect(26px, 9999px, 75px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  40% {
    clip: rect(87px, 9999px, 28px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  45% {
    clip: rect(23px, 9999px, 16px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  50% {
    clip: rect(46px, 9999px, 24px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  55% {
    clip: rect(6px, 9999px, 18px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(94px, 9999px, 63px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  65% {
    clip: rect(18px, 9999px, 75px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  70% {
    clip: rect(11px, 9999px, 45px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  75% {
    clip: rect(4px, 9999px, 91px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  80% {
    clip: rect(92px, 9999px, 82px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  85% {
    clip: rect(87px, 9999px, 93px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  90% {
    clip: rect(73px, 9999px, 8px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  95% {
    clip: rect(73px, 9999px, 45px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  100% {
    clip: rect(62px, 9999px, 8px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  20% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  30% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  40% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  70% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  80% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  90% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  20% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  30% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  40% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  70% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  80% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  90% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}
/*# sourceMappingURL=custom.css.map */